* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primaria: #4f46E5;
    --secondaria: #7c3aed;
    --Escuro: #0F172A;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--Escuro);
    color: var(--claro);
    overflow-y: scroll;
}

.navbar {
    position: fixed;
    background-color: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    top: 0;
    padding: 1.5rem;
}

.menu {
    display: flex;
    list-style: none;
    gap: 4rem;
    justify-content: center;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::before {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secondaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
    transition: 0.3s;
}

.cabecalho {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil {
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
}

h1 {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

.cabecalho-sub-titulo {
    font-size: 1.5rem;
    color: var(--claro);
}

.sobre {
    padding: 6rem 2rem;
    text-align: center;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.2rem;
}

.especialidades {
    padding: 6rem 2rem;
    text-align: center;
}

.especialidades-titulo {
    font-size: 2.5rem;
    color: var(--claro);
    margin-bottom: 50px;
    text-align: center;
}

.especialidades-caixa {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.especialidades-card {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--vidro);
    padding: 2rem;
    width: 300px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.especialidades-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
    cursor: pointer;
}

.especialidades-card-titulo {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--secondaria);
}

.especialidades-paragrafo {
    font-size: 1rem;
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}


.projetos {
    padding: 6rem 2rem;
}

.projetos-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-caixa {
    display: flex;
    flex-wrap: wrap; 
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.projetos-card {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    width: 350px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

.caixa-textos-projetos {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 
}

.info-projetos {
    margin-bottom: 5px;
    text-align: center;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
    text-align: center;
}

.caixa-textos-projetos {
    padding: 1.5rem;
}


.atividades {
    padding: 6rem 2rem;
    text-align: center;
}

.atividades-titulo {
    font-size: 2.5rem;
    color: var(--claro);
    margin-bottom: 50px;
}

.atividades-caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.atividades-card {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--vidro);
    padding: 2rem;
    width: 500px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.atividades-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
    cursor: pointer;
}

.atividades-card-titulo {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--secondaria);
}

.atividades-paragrafo {
    font-size: 1.2rem;
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.5;
}

@media (max-width: 768px) {
    .atividades-caixa {
        flex-direction: column;
    }
}

.hobbies {
    padding: 6rem 2rem;
    text-align: center;
}

.hobbies-titulo {
    font-size: 2.5rem;
    color: var(--claro);
    margin-bottom: 50px;
}

.hobbies-caixa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.hobbies-card {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--vidro);
    padding: 2rem;
    width: 250px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.hobbies-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
    cursor: pointer;
}

.hobbies-icone {
    height: 80px;
    margin-bottom: 1rem;
}

.hobbies-card-titulo {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--claro);
}

.hobbies-paragrafo {
    font-size: 1rem;
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}


@media (max-width: 768px) {
    .hobbies-caixa {
        flex-direction: column;
        align-items: center;
    }

    .hobbies-card {
        width: 100%;
    }
}
.contatos {
    padding: 6rem 2rem;
    text-align: center;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    border: 1px solid var(--vidro);
    outline: none;
    color: #dddddd;
}

.campo-form:focus {
    border-color: var(--primaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secondaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}

.botao-form:hover {
    background: linear-gradient(45deg, var(--secondaria), var(--primaria));
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
    transform: translateY(-4px);
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.social-link {
    display: inline-block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icon {
    height: 60px;
    width: 60px;
    filter: invert(1);
}

.social-link:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 10px var(--primaria));
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@media (max-width: 768px) {
    .especialidades-caixa {
        flex-direction: column;
        align-items: center;
    }

    .especialidades-card {
        width: 100%;
    }
}